:root {
  --header-text-color: #2b1414;
  --text-color: #292929;
  --promo-cost: #e7426a;
  --promo-bg: #ff4d6d;
  --bg: #f7f7f7;
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background-color: var(--bg);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* PLACEHOLDER STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgb(52, 49, 61, 0.5);
  opacity: 1;
} */

/* AUTOFILL COLOR STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */



/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  background-color: #fff;
}

.site-header__bottom {
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.site-header__container {
  display: flex;
  align-items: center;
}


/* HEADER SLIDERS */
.site-header__slider {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #d4e9f9;
}

.slider__container {
  position: relative;
}

.slider {
  padding-left: 50px;
  padding-right: 50px;
}

/* Buttons */
.slider__button {
  position: absolute;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.btn-previous {
  left: 0;
  margin-right: 295px;
}
.btn-next {
  right: 0;
  margin-left: 295px;
}

.slider__info {
  display: none;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.slider__info--active {
  display: flex;
}

.slider__info-content {
  display: flex;
  align-items: center;
}

.slider__img-wrapper {
  position: relative;
  margin-right: 10px;
}

.mindal-wrapper {
  margin-right: 40px;
}

.slider__icon-img {
  width: 30px;
  height: 30px;
}

.slider__icon-badge {
  position: absolute;
  bottom: 3px;
  right: -25px;
  padding: 1.5px 4px;
  border: 0;
  font-size: 11px;
  font-weight: 700;
  border-radius: 8px;
  color: #000;
  background-color: #6dcbba;
}

.slider__title {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
}




/* Header info */
.site-header__info {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  background-color: #f7ebe5;
}

.header-info__sitenav {
  margin-right: 76px;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 14px;
}

.sitenav__link {
  display: block;
  color: rgba(0, 0, 0, 0.79);
  text-decoration: none;
}


/* CONTACT LIST */
.header-info__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  font-size: 14px;
  list-style: none;
}
.header-info__item {
  display: flex;
  align-items: center;
}

.header-info__item:not(:last-child) {
  margin-right: 30px;
}

.header-info__link {
  display: block;
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.88);
  text-decoration: none;
}

.header-info__icon {
  width: 24px;
  height: 24px;
}


/* SOCIALS */
.header-info__socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-socials__item:not(:last-child) {
  margin-right: 10px;
}

.header-socials__link {
  display: flex;
  color: #000;
  text-decoration: none;
}

.header-socials__icon {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: contain;
}



/* Header Bottom */
.site-header__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-header__item:not(:last-child) {
  margin-right: 30px;
}

.site-header__link {
  display: block;
  color: var(--header-text-color);
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
}
.logo__img {
  width: 124px;
  height: 124px;
  object-fit: contain;
}




/* HERO */
.hero__container {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../img/hero-circle-5.png"), url("../img/hero-circle-3.png"), url("../img/hero-circle-4.png");
  background-repeat: no-repeat;
  background-position: 1030px -40px, 1200px 130px, 1100px 200px;
}

.hero__img {
  width: 759px;
  height: 479px;
}

.hero__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
}

.hero__logo {
  display: flex;
  align-self: center;
  margin: 0;
  width: 272px;
  height: 48px;
}

.hero__title {
  margin-top: 24;
  margin-bottom: 13px;
  font-size: 42px;
  font-weight: 600;
  color: var(--text-color);
}

.hero__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.hero__bg-img {
  position: absolute;
}
.macaron-bg-2 {
  top: 370px;
  left: 150px;
}
.macaron-bg-3 {
  top: 100px;
  left: 465px;
}
.macaron-bg-4 {
  top: 80px;
  left: 100px;
}
.macaron-bg-5 {
  top: 320px;
  left: 465px;
}

.almond-bg-2 {
  top: 245px;
  left: 465px;
}
.almond-bg-4 {
  top: 180px;
  left: 85px;
}
.almond-bg-5 {
  top: 80px;
  left: 250px;
}
.almond-bg-7 {
  top: 365px;
  left: 75px;
}
.almond-bg-8 {
  top: 370px;
  left: 440px;
}
.almond-bg-10 {
  top: 380px;
  left: 250px;
}

.leaf-bg-6 {
  top: 275px;
  left: 90px;
}
.leaf-bg-23 {
  top: 175px;
  left: 510px;
}



/* INFO CARDS */
.info-cards {
  margin-bottom: 69px;
}

.info-cards__container {
  padding-left: 135px;
  padding-right: 135px;
}

.info-cards__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.info-cards__item {
  flex-direction: column;
  width: 570px;
  height: 260px;
  padding: 35px 53px;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
}

.info-cards__item {
  margin-bottom: 25px;
}

.info-cards__item:nth-child(1) {
  margin-right: 30px;
}
.info-cards__item:nth-child(3) {
  margin-right: 30px;
}
.info-cards__item:nth-child(5) {
  margin-right: 30px;
}

.item-1 {
  background-color: rgba(255, 219, 195, 0.5);
}

.item-2 {
  background-color: rgba(255, 194, 204, 1);
}
.item-3 {
  background-color: rgba(180, 234, 179, 1);
}
.item-4 {
  background-color: rgba(253, 213, 205, 1);
}
.item-5 {
  background-color: rgba(168, 220, 223, 1);
}
.item-6{
  background-color: rgba(196, 198, 236, 1);
}

.info-cards__img {
  width: 100px;
  height: 100px;
  margin-top: 0;
  margin-bottom: 20px;
}

.info-cards__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}

.info_cards__item-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}














@media only screen and (min-width: 1440px) {
  .site-header__info .site-header__container {
    padding-left: 70px;
  }

  .site-header__bottom .site-header__container {
    padding-left: 105px;
  }
}

@media only screen and (max-width: 1321px) {
  .site-header__bottom {
    padding-left: 45px;
  }
  .site-header__logo {
    width: 110px;
    height: 110px;
  }
  .site-header__link {
    font-size: 14px;
  }
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

/* input:not(:focus):not(:placeholder-shown):valid {
  border-color: greenyellow;
}
input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

input:focus + .validation-error,
input:valid + .validation-error,
input:placeholder-shown + .validation-error {
  display: none;
} */